<div class="donation-creator">
    <div class="fr-modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="ctrl.close()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">{{ 'general_close' | translate }}</span>
        </button>
        <h4>Donación</h4>
    </div>
    <form ng-if="ctrl.step==0" name="userForm">
        <fieldset class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Monto a donar</label>
                    <input type="number"
                           ng-model="ctrl.donation.value"
                           value="ctrl.donation.value | currency"
                           placeholder="$ 000 000"
                           class="donation-value  form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required"/>
                </div>
            </div>
        </fieldset>
        <fieldset class="align-right form-group">
            <div class="row">
                <div class="col-md-12">
                    <button class="freeven-accept-btn" ng-click="ctrl.createDonation()">
                        <span>Hacer donación</span>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>

    <form ng-if="ctrl.step==1" name="userForm">

        <fieldset class="form-group">
            <div class="row">
                <h5>Gracias por apoyar a los artistas, tu donación se ha realizado de manera exitosa</h5>
            </div>
        </fieldset>
        <fieldset class="align-right form-group">
            <div class="row">
                <div class="col-md-12">
                    <a  href="http://ir-taimal10.github.io/"
                        class="freeven-accept-btn" ng-click="ctrl.close()">
                        <span>Continuar</span>
                    </a>
                </div>
            </div>
        </fieldset>

    </form>
</div>
