<div class="player" ng-if="ctrl.playerService.showPlayer()">
    <a class="btn-download"
       href="{{ ctrl.playerService.track.url }}"
       download="{{ ctrl.playerService.track.name }}.mp3">
        <i class="icon icon-download"></i>
    </a>
    <div class="player-buttons">
        <button class="prev" ng-click="ctrl.prev()">
            <i class="glyphicon glyphicon-step-backward"></i>
        </button>
        <button class="playpause"
                ng-click="ctrl.playerService.playpause()"
                ng-class="{paused:ctrl.playerService.audio.paused}">
            <span class="play-text"><i class="glyphicon glyphicon-play"></i> </span>
            <span class="pause-text"><i class="glyphicon glyphicon-pause"></i> </span>
        </button>
        <button class="next" ng-click="ctrl.next()">
            <i class="glyphicon glyphicon-step-forward"></i>
        </button>
    </div>

    <a class="btn-time">
        <i class="icon icon-clock"></i>
    </a>

    <div class="player-time player-range ">
        <input min="0"
               max="{{ ctrl.playerService.audio.duration }}"
               step="0.01"
               type="range"
               ng-model="ctrl.playerService.audio.currentTime"/>

    </div>

    <a class="btn-volume">
        <i class="icon icon-volume-medium"></i>
    </a>
    <div class="player-volume player-range ">
        <input min="0"
               max="1"
               step="0.01"
               type="range"
               ng-model="ctrl.playerService.audio.volume"/>
    </div>
</div>