amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
boto==2.42.0
celery==3.1.24
defusedxml==0.4.1
dj-database-url==0.2.2
dj-static==0.0.6
Django==1.10
django-bootstrap3==7.0.1
django-braces==1.9.0
django-celery==3.1.17
django-filter==0.15.2
django-fontawesome==0.2.6
django-oauth-toolkit==0.10.0
django-rest-framework-social-oauth2==1.0.4
django-storages==1.5.0
djangorestframework==3.3.3
geoip2==2.4.0
gunicorn==18.0
kombu==3.0.37
maxminddb==1.2.1
mock==2.0.0
oauthlib==1.1.2
pbr==1.10.0
Pillow==3.3.1
psycopg2==2.6.2
PyJWT==1.4.2
pymongo==3.3.1
python-social-auth==0.2.21
python3-openid==3.0.10
pytz==2016.7
PyYAML==3.11
redis==2.10.5
requests==2.11.1
requests-oauthlib==0.6.2
selenium==3.0.1
six==1.10.0
static3==0.5.1
travis==0.0.2
