<div class="login">
    <form name="userLogin">
        <div style="text-align: center">
            <h4>Iniciar sesión en Freeven</h4>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                    <a class="btn btn-google"><i class="icon icon-google-plus"></i>
                    Iniciar sesión con Google+
                    </a>
                    <!--     <img src="../../../static/web/images/fb.png">-->
                </div>
                <div class="col-md-2">

                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                    <!-- <img src="../../../static/web/images/go.png">-->
                </div>
                <div class="col-md-2">

                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <!--<div class="loading regular" style="padding: 43px 0px 0px;"></div>-->
                    <label class="control-label" for="username"></i>Nombre de usuario</label>
                    <input type="text" name="username" id="username"
                           ng-model="ctrl.userLogin.username"
                           placeholder="Nombre de usuario..."
                           class="form-control"
                           required/>
                    <span class="messages" ng-show="userLogin.$submitted || userLogin.username.$touched">
                    <span ng-show="userLogin.username.$error.required">El campo es obligatorio.</span>
                    </span>
                </div>
                <div class="col-md-3">

                </div>
            </div>

        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <label class="control-label" for="password">Contraseña</label>
                    <input type="password" name="password" id="password"
                           ng-model="ctrl.userLogin.password"
                           placeholder="Contraseña..."
                           class="form-control"
                           required/>
                    <!--<span class="messages" ng-show="userLogin.password.$error.minlength">Contraseña muy corta</span>-->
                </div>
                <div class="col-md-3">
                </div>
            </div>

        </fieldset>
        <fieldset>
            <h2 class="signinInitialStep__divider">ó</h2>
        </fieldset>
        <fieldset class="form-group">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <button class="g-opacity-transition sc-button sc-button-medium signupButton sc-button-cta"
                        ng-click="ctrl.login()">
                    {{ 'general_login'  | translate }}
                </button>
                <button id="idBtnCancelar" type="button"
                        class="g-opacity-transition sc-button sc-button-medium signupButton sc-button-cta"
                        ng-click="ctrl.closeLoginPopup()">
                    {{ 'general_cancel'  | translate }}
                </button>
            </div>
            <div class="col-md-3">
            </div>

        </fieldset>
    </form>
</div>
