.track-list {
  padding: 60px 30px;
  /*height: ~"calc(100vh - 80px)";
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;*/
  display: block;

  .track-list-title {
    font-weight: 500;
    line-height: 1.1;
    color: black;
    font-size: 36px;
  }

  a {
    cursor: pointer;
    color: inherit;
  }

  .text {
    font-size: 1rem
  }

  .text-xs, .text-xxs {
    font-size: 12px;
  }

  .text-sm {
    font-size: 13px;
  }

  .text-md {
    font-size: 1.125rem
  }

  .text-lg {
    font-size: 1.5rem
  }

  .text-2x {
    font-size: 2em
  }

  .text-3x {
    font-size: 3em
  }

  .text-4x {
    font-size: 4em
  }

  .list-loading {
    text-align: center;
  }

  .brick {
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;

  }

  .brick.ng-leave {
    -webkit-transition: all ease 400ms;
    transition: all ease 400ms;
  }

  .brick.ng-leave.ng-leave-active {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }

  .brick.ng-enter {
    -webkit-transition: all ease 400ms;
    transition: all ease 400ms;
    -webkit-transition-delay: 500ms;
    transition-delay: 500ms;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }

  .brick.ng-enter.ng-enter-active {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
