<div class="track-list">
    <h3 class="track-list-title">{{ctrl.trackList.listTitle}}</h3>
    <div class="row "
         infinite-scroll='ctrl.trackList.nextPage()'
         infinite-scroll-disabled='ctrl.trackList.busy'
         infinite-scroll-distance='50'>
        <track class="col-xs-4 col-sm-4 col-md-3"
               fr-model="track"
               ng-repeat="track in ctrl.trackList.tracks">
        </track>
    </div>
    <br/>  <br/>  <br/>
    <div class="row text-center">
        <bounce ng-if="ctrl.trackList.loading" title="Bounce"></bounce>
        <h3 class="view-more"><i class="icon icon-circle-down"></i></h3>
    </div>
</div>
