<div class="track-list">
    <h3 class="track-list-title">Esto es lo mas reciente</h3>
    <div class="row "
         infinite-scroll='ctrl.trackList.nextPage()'
         infinite-scroll-disabled='ctrl.trackList.busy'
         infinite-scroll-distance='50'>
        <track class="col-xs-4 col-sm-4 col-md-3"
               fr-model="track"
               ng-repeat="track in ctrl.trackList.tracks">
        </track>
        <br/>
        <h3 ng-if="ctrl.trackList.loading" class="list-loading">{{ 'loading_tracks' | translate }}</h3>
        <h3 class="view-more"><i class="icon icon-arrow-down"></i></h3>
    </div>
</div>
