<div class="user-password">
  <div class="fr-modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="ctrl.close()">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">{{'general_close' | translate}}</span>
    </button>
    <h4>Editar contraseña</h4>
  </div>
  <form name="passwordForm">
    <fieldset class="form-group">
      <div class="row">
        <div class="col-md-12">
          <label class="control-label" for="password">Contraseña actual</label>
          <input type="password" name="password" id="password"
          ng-model="ctrl.userPassword.user.password"
          placeholder="Contraseña actual..."
          class="form-control"
          required
          ng-minlength="6"/>
          <span class="messages" ng-show="passwordForm.password.$error.minlength">Contraseña muy corta</span>
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="row">
        <div class="col-md-12">
          <label class="control-label" for="password1">Nueva Contraseña</label>
          <input type="password" name="password1" id="password1"
          ng-model="ctrl.userPassword.user.password1"
          placeholder="Contraseña..."
          class="form-control"
          required
          ng-minlength="6"/>
          <span class="messages" ng-show="passwordForm.password1.$error.minlength">Contraseña muy corta</span>
        </div>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <div class="row">
        <div class="col-md-12">
          <label class="control-label" for="password2">Confirme nueva Contraseña</label>
          <input type="password" name="password2" id="password2"
          ng-model="ctrl.userPassword.user.password2"
          placeholder="Repita contraseña...."
          class="form-control"
          required/>
          <span class="messages" ng-show="userForm.$submitted || userForm.password2.$touched">
            <span ng-show="passwordForm.password2.$error.required">El campo es obligatorio.</span>
          </span>
        </div>
      </dvi>
      <div class="row">
        <div class="col-md-12">
          <span class="messages"
          ng-show="!ctrl.passwordOk">Las contraseñas no coinciden. Por favor, verifique</span>
        </div>
      </div>

    </fieldset>

    <fieldset class="form-group">
      <div class="row">
        <div class="col-md-12 center-button-pass">
          <button class="freeven-accept-btn g-opacity-transition sc-button sc-button-medium signupButton sc-button-cta"
          ng-click="ctrl.validatePassword()" ng-disabled="userForm.$invalid">
          {{ 'general_edit_user'  | translate }}
        </button>
      </div>
    </div>
  </fieldset>
    <fieldset class="form-group">
        <div class="row">
          <div class="col-md-12 center-button-pass">
        <button id="idBtnCancelar2" type="button"
        class="freeven-cancel-btn g-opacity-transition sc-button sc-button-medium signupButton sc-button-cta"
        ng-click="ctrl.close()">
        {{ 'general_cancel'  | translate }}
      </button>
    </div>
  </div>
</fieldset>
</form>
</div>
