<div class="user-panel">
    <!--Search component-->
    <ul class="nav nav-sidebar">
        <li>
            <a href="#/top">
                <i class="music-side-menu-albums"></i>
                <span>Ver el top de pistas más escuchadas</span>
            </a>
            <a href="#/">
                <i class="music-side-menu-albums"></i>
                <span>Ver todas las pistas</span>
            </a>
            <a class="header-item" ng-if="ctrl.mainService.isAuthenticated()" ng-click="ctrl.enableHelp()">
                <i class="music-side-menu-albums"></i>
                <span>Ver ayuda</span>
            </a>
            <a href="#/upload" class="header-item" ng-if="ctrl.mainService.isArtist()">
                <i class="music-side-menu-albums"></i>
                <span> Subir obras musicales</span>
            </a>
            <a href="#/donation" class="header-item" ng-if="ctrl.mainService.isArtist()">
                <i class="music-side-menu-albums"></i>
                <span>Mis donaciones</span>
            </a>

        </li>
    </ul>
</div>

