<div class="user-panel">
    <!--Search component-->
    <ul class="nav nav-sidebar">
        <li>
            <a href="#/top">
                <i class="icon icon-fire"></i>
                <span>Ver el top de pistas más escuchadas</span>
            </a>
        </li>
        <li>
            <a href="#/">
                <i class="icon icon-music"></i>
                <span>Ver todas las pistas</span>
            </a>
        </li>
        <li>
            <a href="#/competitions">
                <i class="icon icon-bullhorn"></i>
                <span>Ver convocatorias</span>
            </a>
        </li>
        <li>
            <a href="#/upload" class="header-item" ng-if="ctrl.mainService.isArtist()">
                <i class="icon icon-cloud-upload"></i>
                <span>Publicar obra musical</span>
            </a>
        </li>
        <li>
            <a href="#/events">
                <i class="icon icon-location2"></i>
                <span>Ver eventos</span>
            </a>
        </li>
        <li>
            <a href="#/post" class="header-item" ng-if="ctrl.mainService.isArtist()">
                <i class="icon icon-location"></i>
                <span>Publicar evento</span>
            </a>
        </li>
        <li>
            <a href="#/donation" class="header-item" ng-if="ctrl.mainService.isArtist()">
                <i class="icon icon-wink"></i>
                <span>Mis donaciones</span>
            </a>
        </li>
        <li>
            <a class="header-item" ng-if="ctrl.mainService.isAuthenticated()" ng-click="ctrl.enableHelp()">
                <i class="icon icon-question"></i>
                <span>Ver ayuda</span>
            </a>
        </li>
    </ul>

    <ul ng-if="ctrl.mainService.isAuthenticated()" class="nav nav-sidebar play-list">
        <li>
            <a class="header-item" ng-click="ctrl.showListCreator()">
                <i>+</i>
                <span>Crear lista</span>
            </a>
        </li>
        <li ng-repeat="playList in ctrl.trackListService.playLists">
            <a href="#/list/{{playList.id}}">
                <i class="icon icon-indent-increase"></i>
                <span>{{playList.name}}</span>
            </a>
        </li>
    </ul>
</div>

