<div class="track">
    <div class="item">
        <div class="item-media">
            <a class="item-media-content img-responsive"
               style="background-image: url({{ ctrl.frModel.image }})">
            </a>
            <div class="item-overlay center">
                <button ng-click="ctrl.play(ctrl.frModel)" class="btn-playpause">Play</button>
            </div>
        </div>
        <div ng-if="!ctrl.hideItemInfo" class="item-info">
            <div class="item-overlay bottom text-right">
                <a class="btn-download"
                   href="{{ctrl.frModel.url}}"
                   download="{{ctrl.frModel.name}}.mp3">
                    <i class="icon icon-download" ></i>
                </a>
                <a href="#" class="btn-favorite">
                    <i class="icon icon-star-full"></i>
                    <i class="icon icon-star-full"></i>
                    <i class="icon icon-star-full"></i>
                    <i class="icon icon-star-empty"></i>
                    <i class="icon icon-star-empty"></i>
                </a>
                <a href="#" class="btn-more" data-toggle="dropdown">
                    <i class="fa fa-ellipsis-h"></i>
                </a>
                <div class="dropdown-menu pull-right black lt"></div>
            </div>
            <div class="item-title text-ellipsis">
                <a>{{ ctrl.frModel.name }}</a>
            </div>
            <div class="item-author text-sm text-ellipsis">
                <a class="text-muted" href="#/artist/" ng-click="ctrl.loadArtist()">{{ ctrl.frModel.artist }}</a>
            </div>
            <span class="item-meta-stats text-xs">
                 <i class="icon icon-star-full text-muted"></i> 4/5
            </span>
        </div>
    </div>
    <div class="fr-track-help-1">
       <help-item text ="Aquí puedes descargar la pista musical"> </help-item>
    </div>
    <div class="fr-track-help-2">
       <help-item text ="Comienza a escuchando esta pieza musical"> </help-item>
    </div>
     <div class="fr-track-help-3">
       <help-item text ="Califica las piezas musicales"> </help-item>
    </div>
</div>
