<div class="track-creator" xmlns="http://www.w3.org/1999/html">
    <div class="fr-track-creator">
        <img align="left"
             class="fr-image-lg"
             src="../styles/images/portada.jpg"
             alt="Profile image example"/>

        <div class="fr-image-track-creator thumbnail">
            <img align="left"
                 class=""
                 src="../styles/images/sol.jpg"
                 alt="Profile image example"/>
            <a ngf-select
               ngf-multiple="false"
               accept=".jpg"
               filters=".jpg"
               ngf-change="ctrl.attachFile($files,'image')"
               class="form-control track-picture-selector">
                <i class="icon icon-images"></i>
                <span>Seleccione la carátula</span>
            </a>
        </div>


        <div></div>
        <div class="fr-track-creator-text">
            <fieldset class="form-group">
                <h4>Llena estos campos para subir una pieza musical</h4>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label" for="artistic_name">Nombre de la pista</label>
                        <input type="text"
                               ng-model="ctrl.name"
                               placeholder="Nombre de la pista..."
                               class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required"/>
                    </div>
                    <div class="col-md-12">
                        <label class="control-label">Descripción</label>
                        <input type="text"
                               ng-model="ctrl.description"
                               placeholder="Descripción..."
                               class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required"/>
                    </div>
                    <div class="col-md-12">
                        <label class="control-label">Género</label>

                        <select placeholder="Género..."
                                class="form-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required"
                                ng-model="ctrl.gender">
                            <option ng-repeat="genderOption in  ctrl.genderOptions"
                                    ng-value="genderOption.id">{{ genderOption.name }}</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label class="control-label">Archivo de audio</label>
                        <a ngf-select
                           ngf-multiple="false"
                           accept=".mp3"
                           filters=".mp3"
                           ngf-change="ctrl.attachFile($files,'audio')"
                           class="form-control">
                            <i class="icon icon-upload">
                                <span ng-if="!ctrl.trackFiles.audio">Seleccione el archivo .mp3</span>
                                <span ng-if="ctrl.trackFiles.audio">{{ ctrl.trackFiles.audio.name}}</span>
                            </i>
                        </a>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <button class="freeven-accept-btn" ng-click="ctrl.uploadFilesAndData()">
                            <span>Crear pista</span>
                        </button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>