<div class="user-menu" ng-if="false">
    <button class="g-opacity-transition sc-button sc-button-medium signupButton sc-button-cta" tabindex="0"
            ng-click="ctrl.showLoginPopup()"
            title="Iniciar sesión en SonidosLibres"
            data-toggle="modal" data-target="">
        <i class="icon-user"></i>
        {{ 'general_sign_in' | translate }}
    </button>
    <button class="g-opacity-transition sc-button sc-button-medium signupButton sc-button-cta" tabindex="0"
            title="Crear cuenta en SonidosLibres"
            ng-click="ctrl.showRegisterPopup()"
            data-toggle="modal" data-target="">
        {{ 'general_create_account' | translate }}
    </button>
</div>
