<div class="restore-password">
    <form name="restoreForm">
        <fieldset class="form-group">
            <label>Actualizar contraseña</label>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label" for="username">Su usuario</label>
                    <input type="text" name="username" id="username"
                           ng-model="ctrl.restorePassword.username.username"
                           placeholder="Usuario..."
                           class="form-control"
                           required/>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label" for="password">Nueva Contraseña</label>
                    <input type="password" name="password" id="password"
                           ng-model="ctrl.restorePassword.username.password"
                           placeholder="Contraseña..."
                           class="form-control"
                           required
                           ng-minlength="6"/>
                    <span class="messages" ng-show="restoreForm.password.$error.minlength">Contraseña muy corta</span>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label" for="password2">Confirme nueva Contraseña</label>
                    <input type="password" name="password2" id="password2"
                           ng-model="ctrl.restorePassword.username.password2"
                           placeholder="Repita contraseña...."
                           class="form-control"
                           required/>
                    <span class="messages" ng-show="userForm.$submitted || userForm.password2.$touched">
            <span ng-show="restoreForm.password2.$error.required">El campo es obligatorio.</span>
          </span>
                </div>
                </dvi>
                <div class="row">
                    <div class="col-md-12">
          <span class="messages"
                ng-show="!ctrl.passwordOk">Las contraseñas no coinciden. Por favor, verifique</span>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-md-12 center-button-pass">
                    <button class="freeven-accept-btn g-opacity-transition sc-button sc-button-medium signupButton sc-button-cta"
                            ng-click="ctrl.validateRestorePassword()" ng-disabled="userForm.$invalid">
                        Enviar
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
