<div class="main">
    <div class="header">
        <a ng-click="ctrl.enableHelp()">Ver ayuda</a>
        <user-menu ng-if="ctrl.mainService.isAuthenticated()"></user-menu>
    </div>
    <splash class="freeven-splash" ng-if="!ctrl.mainService.isAuthenticated()" title="Splash"></splash>
    <div ng-if="!ctrl.mainService.isAuthenticated()" class="header-fake">
        Header 2
    </div>
    <div class="wrap flex">
        <!--<div class="topbar"></div>-->

        <div class="flex">
            <div class="sidebar">
                <h3 class="app-title">Freeven</h3>
                <user-panel title="UserPanel"></user-panel>
                <player-picture class="freeven-player-picture" title="PlayerPicture"></player-picture>
            </div>
            <div class="content-section">
                <div class="row-col">
                    <div class="col-lg-12 b-r no-border-md">
                        <!-- Track list component -->
                        <track-list class="freeven-track-list" title="TrackList"></track-list>

                    </div>
                    <!-- <div class="col-lg-3 w-xxl w-auto-md freeven-aside">

                         <r-i18n></r-i18n>

                     </div>-->
                </div>
            </div>
        </div>

        <div class="footer">
            <player title="Player"></player>
        </div>
    </div>
    <div growl></div>
    <help title="Help"></help>
</div>


