<div class="competition-participate">
    <div class="fr-modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="ctrl.close()">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">{{ 'general_close' | translate }}</span>
        </button>
        <h4>Participar en convocatoria</h4>
    </div>
    <form name="competitionForm">
        <fieldset class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label" for="username">Carga tu obra músical</label>
                    <a ngf-select
                       ngf-multiple="false"
                       accept=".mp3"
                       filters=".mp3"
                       ngf-change="ctrl.attachFile($files,'audio')"
                       class="form-control">
                        <i class="icon icon-upload">
                            <span ng-if="!ctrl.trackFiles.audio">Seleccione el archivo .mp3</span>
                            <span ng-if="ctrl.trackFiles.audio">{{ ctrl.trackFiles.audio.name }}</span>
                        </i>
                    </a>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-md-12 center-button-pass">
                    <button class="freeven-accept-btn"
                            ng-click="ctrl.participateValidate()" ng-disabled="competitionForm.$invalid">
                        Enviar
                    </button>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-md-12 center-button-pass">
                    <button id="idBtnCancelar2" type="button"
                            class="freeven-cancel-btn"
                            ng-click="ctrl.close()">
                        {{ 'general_cancel'  | translate }}
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
