<div class="score-editor">
    <!--<a ng-click="ctrl.setValue(1)" class="btn-favorite">
        <i class="icon icon-star-full"></i>
    </a>
    <a ng-click="ctrl.setValue(2)" class="btn-favorite">
        <i class="icon icon-star-full"></i>
    </a>
    <a ng-click="ctrl.setValue(3)" class="btn-favorite">
        <i class="icon icon-star-full"></i>
    </a>
    <a ng-click="ctrl.setValue(4)" class="btn-favorite">
        <i class="icon icon-star-empty"></i>
    </a>
    <a ng-click="ctrl.setValue(5)" class="btn-favorite">
        <i class="icon icon-star-empty"></i>
    </a>-->

    <div class="rating">
			<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
		</div>
</div>
